<p>Füge ein neues Rezept hinzu:</p>
<form action="">
    <div class="form-row">
        <label for="rezeptname">Rezeptname</label>
        <input type="text">
    </div>
    <div class="form-row">
        <label for="zutat1">Zutat 1</label>
        <input type="text">
    </div>
    <div class="form-row">
        <label for="zutat2">Zutat 2</label>
        <input type="text">
    </div>
    <div class="form-row">
        <label for="zutat3">Zutat 3</label>
        <input type="text">
    </div>
    <div class="form-row">
        <label for="arbeitsschritte">Arbeitsschritte</label>
        <input type="textarea">
    </div>
    <div class="form-row">
        <button mat-button (click)="addRecipe()">hinzufügen</button>
    </div>
</form>