<ul>
    <li><img src="assets/img/Matze-Logo-white.png" alt="Logo">
    </li>
    <li>
        <a class="navigation" routerLink="/">Home</a>
    </li>
    <li>
        <a routerLink="/recipe/create" class="navigation">Neues Rezept</a>
    </li>
    <li>
        <a routerLink="/recipe/browse" class="navigation">Rezeptliste</a>
    </li>
    <li>
        <a routerLink="/ingredient/create" class="navigation">Neue Zutat</a>
    </li>
    <li>
        <a routerLink="/ingredient/browse" class="navigation">Zutatenliste</a>
    </li>
    <li class="login-item">
        <a class="login-link" (click)="login()">Login</a>
    </li>

</ul>
