ul
    box-sizing: border-box
    display: flex
    align-items: flex-end
    list-style: none
    padding: 0
    padding-top: 5px
    width: 100%

a
    color: #ffffff
    display: flex
    text-decoration: none
    padding: 6px 15px

.navigation:hover
    box-shadow: 0 4px 0 0 #f4b600
    color: #f4b600

:host
    display: flex
    align-items: flex-start
    flex-direction: column
    width: 100%

.login-item
    margin-left: auto
    margin-right: 30px
    margin-bottom: 5px

.login-link
    border: 2px solid #ffffff
    color: #ffffff

    &:hover
        background-color: #ffffff
        color: #2f5c7b

img
    width: 125px
    height 126px
    justify-content: flex-start