<ul>
    <li><img src="assets/img/Matze-Logo-white.png" alt="Logo">
    </li>
    <li>
        <a class="navigation" routerLink="/">Home</a>
    </li>
    <li>
        <a class="navigation" routerLink="/add">Neues Rezept</a>
    </li>
    <li>
        <a class="navigation" routerLink="/list">Rezeptliste</a>
    </li>
    <li>
        <a class="navigation" routerLink="/details">Rezept</a>
    </li>
    <li class="login-item">
        <a class="login-link" (click)="Login()">Login</a>
    </li>

</ul>
