.page-container
    display: flex
    flex-direction: column
    min-height: 100vh

header
    background-color: #2f5c7b
    display: flex
    justify-content flex-start
  

main
    min-width: 560px
h1
    display: flex
    justify-content: flex-start
    margin-top: 20px

h2
    display: flex
    justify-content: center   
    
footer
    display: flex
    justify-content center
    margin-top: auto



