<form [formGroup]="ingredientForm"  (ngSubmit)="submit()">
    <div class="form-row">
        <label>
            Ingredient name:
            <input type="text" formControlName="name">
        </label>
    </div>
    <div class="form-row">
        <label>
            Description:
            <input type="textarea" formControlName="description">
        </label>
    </div>
    <div class="form-row">
        <label
            formArrayName="seasons" 
            *ngFor="let month of availableMonths; let i = index">
            <input type="checkbox" [formControlName]="i">{{availableMonths[i].name}}
        </label>
    </div>

    <div class="form-row">
        <select formControlName="diet">
            <option value="" disabled>Please chose diet</option>
            <option *ngFor="let diet of diets" [ngValue]="diet">{{ diet.name }}</option>
        </select>
    </div>

    <label>
        Take a picture
        <input (change)="imageUploaded($event.target.files)" type="file" accept="image/*" capture="environment">
    </label>


    <button type="submit" [disabled]="!ingredientForm.valid">Submit</button>
</form>
