/* You can add global styles to this file, and also import other style files */
body
    font-family: Arial, Helvetica, sans-serif

h1
    font-size: 24px

h2
    font-size: 20px

p
    font-size: 16px