<h1>Die besten Rezepte aus aller Welt</h1>
<h3>Hier soll ein Image-Slider sein</h3>

<h2>Winterliche Bockwurstgerichte</h2>

<div class="Bildbox">
<div class="polaroid">
    <img src="assets/img/Bild1.jpg" alt="Bockwurst in Glühweinsauce" style="width:100%">
    <div class="container">
    <p>Bockwurst in Glühweinsauce</p>
    </div>
  </div>

  <div class="polaroid">
    <img src="assets/img/Bild2.jpg" alt="Räucherbockwurst" style="width:100%">
    <div class="container">
    <p>Räucherbockwurst</p>
    </div>
  </div>

  <div class="polaroid">
    <img src="assets/img/Bild3.jpg" alt="Bockwurst mit Maronen" style="width:100%">
    <div class="container">
    <p>Bockwurst mit Maronen</p>
    </div>
  </div>
</div>

<a routerLink="/list">weitere Gerichte</a>


<h2>Eigene Bockwurstköstlichkeiten</h2>

<div class="Bildbox">
    <div class="polaroid">
        <img src="assets/img/Bild1.jpg" alt="Bockwurst Hawaii" style="width:100%">
        <div class="container">
        <p>Bockwurst Hawaii</p>
        </div>
      </div>
    
      <div class="polaroid">
        <img src="assets/img/Bild2.jpg" alt="Bockwurst á la Mama" style="width:100%">
        <div class="container">
        <p>Bockwurst á la Mama</p>
        </div>
      </div>
    
      <div class="polaroid">
        <img src="assets/img/Bild3.jpg" alt="Bockwurst im Schlafrock an Zitronenschaum" style="width:100%">
        <div class="container">
        <p>Bockwurst im Schlafrock an Zitronenschaum</p>
        </div>
      </div>
    </div>

<a routerLink="/add">ein neues Gericht erstellen</a>