h3
    color: #90867f
    display: flex
    justify-content: center
h1
    display: flex
    justify-content: center
h2
    margin-left: 20px
    margin-top: 60px

.polaroid
    width: 30%
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    margin-left: 20px

.container
    text-align: center;
    padding: 10px 20px;

.Bildbox
    display: flex
    flex-direction: row
    margin-bottom: 30px

a
    font-size: 16px
    color: white
    text-decoration: none
    padding: 12px 28px
    background-color: #000000
    margin-left: 20px