<p>Füge ein neues Rezept hinzu:</p>
<div class="recipe">
    <div class="recipe__add">

        <div class="form-row">
            <label for="rezeptname">Rezeptname</label>
            <input [(ngModel)]="recipeName" type="text">
        </div>
        <div class="form-row">
            <label for="zutat1">Zutat 1</label>
            <input [(ngModel)]="currentIngredient" type="text" (keyup)="findIngredientByQuery()">
        </div>

        <label>
            Take a picture
            <input (change)="imageUploaded($event.target.files)" type="file" accept="image/*" capture="environment">
        </label>
        
        <div class="form-row">
            <button mat-button (click)="addRecipe()">hinzufügen</button>
        </div>

    </div>
    <div class="recipe__search">
        <div *ngIf="currentIngredient.length > 3 && foundIngredients.length === 0">
            <h2>Leider konnten wir {{currentIngredient}} nicht finden</h2>
            <p>Sie können gern eine <a routerLink="/ingredient/new">neue Zutat anlegen.</a></p>
        </div>
        <ul *ngIf="foundIngredients.length > 0">
            <li *ngFor="let ingredient of foundIngredients; index as i">
                {{i}} {{ingredient.name}} <button (click)="addIngredient(ingredient)">hinzufügen</button>
            </li>
        </ul>

    </div>
    <div class="recipe__view">

        <div *ngIf="recipeImageUrl">
            <img src='http://localhost:3000/{{recipeImageUrl}}' alt="Fooo">
        </div>
        <div *ngIf="usedIngredients.length > 0">
            <h2>{{recipeName}}</h2>
            <ul>
                <li *ngFor="let ingredient of usedIngredients">
                    {{ ingredient.name }}
                </li>
            </ul>
        </div>
        
        <button (click)="addRecipe()">Rezept abschicken</button>
    </div>
</div>
